<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 最新編譯和最佳化的 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- 選擇性佈景主題 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<style>{
		th {text-align:center;}
		div.menys{
			text-align: center;
			padding:40px 15px;
		}
	}
	</style>

	

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" 
						class="navbar-toggle cooapsed" 
						data-toggle="collapse"
						data-target="#navbar"
						aria-expanded="false"
						aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index/">Shop</a>
			</div>	
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		{%comment%}
			下面這部分是navbar的部分，先手幹，後面再套用template模組分離出來
		{%endcomment%}

		{%comment%}
		<ul>
			<li>
				<a href="/index/">index</a>
			</li>
			{% if request.user.is_authenticated %}
				
				{% if perms.restaurants.have_shop %}	
					<li><a href="">菜單編輯</a></li>
					<li><a href="">資訊編輯</a></li>
					<li><a href="">訂單處理</a></li>
					<li><a href="">交易處理</a></li>
				{% else %}
					<li><a href="">資料編輯</a></li>
					<li><a href="">交易紀錄</a></li>
					<li><a href="">出貨狀況</a></li>
				{% endif %}


			{% endif %}

			<li><a href="">搜尋店家</a></li>
		</ul>
		{%endcomment%}


		<p>您現在的位置在{{path}}</p>
		{% if request.user.is_authenticated %}
			<form action="" method="post"> {% csrf_token%}
				<table class="table">	
					<tr>

						<td><label for="name">店名</label></td>
						<td>
							<input id="name" type="text" name="name" value="{{name}}">
						</td>
					</tr>
					<tr>
						<td><label for="photo">照片(請用網址)</label></td>
						<td>
							<input id="photo" type="text" name="photo" value="{{photo}}">
						</td>
					</tr>
					<tr>
						<td><label for="address">地址</label></td>
						<td>
							<input id="address" type="text" name="address" value="{{address}}">
						</td>
					</tr>
					<tr>
						<td><label for="category">分類</label></td>
						<td>
							<input id="category" type="text" name="category" value="{{category}}">
						</td>
					</tr>
					<tr>
						<td><label for="area">可外送區域</label></td>
						<td>
							<input id="area" type="text" name="area" value="{{area}}">
						</td>
					</tr>
					<tr>
						<td><label for="operating_time">營業時間</label></td>
						<td>
							<input id="operating_time" type="text" name="operating_time" value="{{operating_time}}">
						</td>
					</tr>
					<tr>
						<td><label for="introduction">簡介</label></td>
						<td>
							<input id="introduction" type="text" name="introduction" value="{{introduction}}">
						</td>
					</tr>

					
				</table>
				<input type="submit" name="" value="送出">	
			</form>


		{% endif %}
	</div>
	

	{% comment %}
		我是可愛的多行註解
	{% endcomment%}
	<!-- 最新編譯和最佳化的 JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

