<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 最新編譯和最佳化的 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- 選擇性佈景主題 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<style>{
		th {text-align:center;}
		div.menys{
			text-align: center;
			padding:40px 15px;
		}
	}
	</style>

	

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" 
						class="navbar-toggle cooapsed" 
						data-toggle="collapse"
						data-target="#navbar"
						aria-expanded="false"
						aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index/">Shop</a>
			</div>	
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<p>您現在的位置在{{path}}</p>
		<form action="" method="post">
			<label for="username">用戶名稱:</label>{%csrf_token%}
			<input type="text" name="username" value="{{username}}" id="username"><br/>
			<label for="password">用戶密碼:</label>
			<input type="password" name="password" value="" id="password"><bt/>

			<input type="submit" value="登入login">


		</form>
		

	</div>
	

	{% comment %}
		我是可愛的多行註解
	{% endcomment%}
	<!-- 最新編譯和最佳化的 JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>

